<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/animate.min.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-light justify-content-center secondaryb animated fadeInDown fixed-top">
        <a class="navbar-brand mr-0" href="/"><img id='navlogo' src="{% static 'users/images/etc/potionlogo.png' %}">Potion Master</a>
        <button class="navbar-toggler ml-1" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar justify-content-between align-items-center w-100">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a class="nav-link topbar" href="/dashboard"><img src="{% static 'users/images/etc/home.png' %}"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link topbar" href="/allherbs"><img src="{% static 'users/images/etc/herb.png' %}"> All Herbs</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link topbar" href="/consult"><img src="{% static 'users/images/etc/doctor.png' %}"> Consult</a> 
                </li>
                <li class="nav-item active">
                    <a class="nav-link topbar" href="/cart"><img src="{% static 'users/images/etc/cart.png' %}"> Cart</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link topbar" href="/logout"><img src="{% static 'users/images/etc/logout.png' %}"> LogOut</a> 
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div id="cartsys" class="animated fadeInUp container">
    <h4>{{ user_info.first_name}}'s Cart</h4>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Herb</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_info %}
            <tr>
                <td>{{ item.item_added.name }}</td>
                <td>${{ item.item_added.price }}.00</td>
                <td><img src="{% static 'users/images/etc/remove.png' %}"> <a href='deletecart/{{item.id}}'> Remove From Cart</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <br>
        <div id="total" class="text-right">
            <p class="animated bounce infinite">Total: ${{ total.item_added__price__sum }} </p>
        </div>
        <div id="checkout" class="text-right">
            <form action="/checkout" method="POST">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-name="Potion Master"
                data-description="Charge for Herbs"
                data-image="{% static 'users/images/etc/potionlogo.png' %}"
                data-amount="{{ total.item_added__price__sum }}00"
                data-currency="usd"
                data-locale="auto">
            </script>
            <input type="hidden" name="amountcharged" value="{{ total.item_added__price__sum }}00">
            </form>
        </div>
    </div>
    <nav class="animated fadeInUp navbar fixed-bottom">
        <ol class="breadcrumb secondaryb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/about">About</a></li>
            <li class="breadcrumb-item"><a href="/contact">Contact</a></li>
        </ol>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'users/js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/bootstrap.bundle.js' %}"></script>
</body>
</html>