html * {
    font-family: 'Merienda One', Helvetica, sans-serif;
}
body {
    background-image: url("/static/users/images/etc/mainbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
    animation-delay: 2s;
}
.secondaryb{
    background: linear-gradient(#FFEEEE, #DDEFBB);
}
nav{
    animation-delay: 1s;
}
#navlogo{
    width: 25px;
    height: 40px;
    margin: 0% 14%;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.topbar{
    margin: 0px 10px;
}
#topplant{
    position: fixed;
    top: 7%;
    left: -4%;
    animation-delay: 1s;
}
#botplant{
    position: fixed;
    top: 62%;
    left: 63%;
    animation-delay: 1s;
}
#profile{
    width: 30%;
    position: absolute;
    top: 17%;
    left: 34%;
    animation-delay: 1s;
}
li {
    display: inline;
}
#profilelinks{
    display:inline-block;
    width: 43%;
}
